*{
    margin: 0;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 50px;
    color: #333;
}

body header h1 {
    text-align: center;
    font-size: 50px;
}

main {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50px auto;
    grid-template-areas: "lista ingreso-datos"
                         "alumnos form";
}

main div h2 {
    text-align: center;
    font-size: 30px;
}

.lista{
    grid-area: lista;
}

.ingreso-datos {
    grid-area: ingreso-datos;
}

.list-group-item {
    grid-area: alumnos;
}

main div form{
    grid-area: form;
    display: grid;
    gap: 8px; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 40px) auto;
    grid-template-areas: "input-nombre input-apellido"
                         "input-dni input-email"
                         "add-button add-button"
                         "input-dni-remove remove-button"
                         "input-dni-search search-button"
                         "students-search-list students-search-list";
}

main div form input, button {
    margin: 5px;
    border-radius: 8px;
    font-size: 20px;
}

main div form input{
    border:0.05em solid rgb(167, 164, 164);
    width: 349px !important;
    height: 2em;
    padding: 10px 32px;
    text-align: left;
}

#input-name {
    grid-area: input-nombre;
}

#input-surname {
    grid-area: input-apellido;
}

#input-dni {
    grid-area: input-dni;
}

#input-email {
    grid-area: input-email;
}

#input-dni-remove {
    grid-area: input-dni-remove;
}

#input-dni-search {
    grid-area: input-dni-search;
}

main div button{
    border: none;
    color:white;
    padding: 5px 32px;
    height: 2em;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s;
}

#add-button{
    grid-area: add-button;
    background-color:#516BF0;
}

#remove-button{
    grid-area: remove-button;
    background-color:#FD5E60;
}

#search-button{
    grid-area: search-button;
    background-color: green;
}

#students-search-list{
    grid-area: students-search-list;
}


.valid-add-button:hover{
    background-color:rgb(45, 70, 196);
}

#remove-button:hover{
    background-color:rgb(224, 44, 47);
}

#search-button:hover{
    background-color: darkgreen;
}

